<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/bootstrap/bootstrap.css" />
<title>Document</title>
</head>
<body>
    <!-- 2. Incluir en la vista un parcial que contenga el menú del sitio web y sea renderizado antes del Dashboard. -->
    {{> menu}}

    <h1>Hola mundo! Usando ahora motores de plantillas =D</h1>
    
    {{> dashboard productos = objeto}}
</body>
</html>