<!-- 3. Crear un parcial “producto” que contenga el template correspondiente a la
presentación de cada producto en el Dashboard y reciba como parámetro el nombre
del producto. -->

<div class="card" style="width: 18rem;">
  <img src="{{urlImagen}}" class="card-img-top" alt="{{urlImagen}}">
  <div class="card-body">
    <h5 class="card-title">{{nomProducto}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>